@model SmartApp.Models.OpSystem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OpSystem</h4>
    <hr />
    <dl class="row" style="background-color:antiquewhite;">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OsType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OsType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
