@model SmartApp.Models.OpSystem

@{
    ViewData["Title"] = "Edit";
}


    <div class="row" style="background-color:antiquewhite;">
        <div>
            <h1>Edit</h1>
            <h4>OpSystem</h4>
        </div>
       
        <hr />
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="OsType" class="control-label"></label>
                    <input asp-for="OsType" class="form-control" />
                    <span asp-validation-for="OsType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

<div>
    <a type="button" class="btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
