
@{
    ViewData["Title"] = "OS_System";
}
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">

                        <span class="section-heading-upper"><i class="fab fa-apple"></i>Apple</span>
                        <span class="section-heading-lower">Iphones &amp; other products</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/siegrist-nikolai-lvfPVeNTkf4-unsplash.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        Apple Inc. is an American multinational technology company headquartered in Cupertino, California, that designs, develops, and sells consumer electronics, computer software, and online services. It is considered one of the Big Four technology companies, alongside Amazon, Google, and Facebook.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mr-auto rounded">
                    <h2 class="section-heading mb-0">

                        <span class="section-heading-upper"><i class="fab fa-android"></i>Android</span>
                        <span class="section-heading-lower">Android &amp; Services</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/samsung.jpg" alt="">
            <div class="product-item-description d-flex ml-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">
                        Android is a mobile operating system based on a modified version of the Linux kernel and other ... These apps are licensed by manufacturers of Android devices certified under standards imposed by Google. ... One of those components, Google Play Services, is a closed-source system-level process providing APIs for .
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ml-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper"><i class="fab fa-linux"></i>Linux</span>
                        <span class="section-heading-lower">HarmonyOS</span>
                    </h2>
                </div>

            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/img/yahdi-romelo-Pn9t7RNZYVw-unsplash.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">Huawei's operating system will be called the HongmengOS, known in English as the HarmonyOS, said the CEO of the Chinese tech giant's consumer division, Richard Yu, on Friday. Yu said the operating system can be used across different devices from smartphones to smart speakers and even sensors</p>
                </div>
            </div>
        </div>
</section>