@{
    ViewData["Title"] = "Home Page";
}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/img/aleksander-vlad-Jym19Ty9Dc4-unsplash.jpg" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Genuine info</span>
                    <span class="section-heading-lower">Worth It!</span>
                </h2>
                <p class="mb-3">
                    All information provided by us are  locally and internationally sourced,  checking our website for information about smartphones will be your daily routine- we guarantee it!
                </p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="#">Visit Us more!</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Our Quote</span>
                        <span class="section-heading-lower">To You</span>
                    </h2>
                    <p class="mb-0">“People who smile while they are alone used to be called insane, until we invented smartphones and social media.” “Smartphones are tools which fools fiddle with when they are around people that they don't have the courage, or, the intellect, to converse with.”</p>
                </div>
            </div>
        </div>
    </div>
</section>
