@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="card" style="margin-bottom:150px;">
    <div class="card-header">
        Privacy Policy
    </div>
    <div class="card-body">
        <h5 class="card-title">Risk is risk</h5>
        <p class="card-text">This shit ain't secured, at your own bloody risk.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">go back home</a>
    </div>
</div>
